apiVersion: apps/v1
kind: Deployment
metadata:
  name: deploy-k3s1on10
  namespace: k3s1on10
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: myapp
        image: kyul1234/k3s1on10:latest
        ports:
        - name: port
          containerPort: 8081
---
apiVersion: v1
kind: Service
metadata:
  name: myapp-service
  namespace: k3s1on10
spec:
  type: LoadBalancer
  selector:
    app: myapp
  ports:
  - name: myapp-port
    targetPort: 8081
    port: 8081
		
      